.proyecto__informacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .proyecto__informacion {
        width: 35%;
        text-align: left;
        align-items: start;
        padding: 0.5rem 0.5rem 3rem 0.5rem;
    }

    .reverse>.proyecto__informacion {
        text-align: right;
        align-items: end;
    }
}