.skills__item {
    width: calc(33.33% - 1rem);
} 

@media screen and (min-width: 768px) {
    .skills__item {
        width: 16.66%;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }    
}

