.menu__item {
    list-style: none;
}

@media screen and (max-width: 767px) {
    .menu__item {
        background-color: var(--background-fucsia);
        padding: 1rem;
        border-bottom: 0.5px solid var(--background-fucsia-oscuro);
    }
    .menu__item:last-of-type{
        border-bottom: none;
    }

    .menu__item:hover {
        background-color: var(--background-fucsia-oscuro);
    }
}